<div id="page_wrapper">
  <div id="profile_image">
    <%#= image_yag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Marco</h1>
    <p>
      Welcome to my blog, I'm following The Mackensie Child challenge about creating a app each week, with his tutorial help, I will try to do it each day :)!!
    </p>
  </div>
</div>
